# Node modules
node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директории сборки (если есть)
dist/
build/

# Игнорирование IDE
.vscode/
.idea/

# Игнорирование файлов конфигурации среды
.env